@import url('https://fonts.googleapis.com/css2?family=Combo:wght@300');
.colorCost {
    background-color: rgba(189, 99, 248) ;
}

.pad{
padding: 0.5rem;
margin-bottom:0.5rem;
}

.font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-decoration-line: underline;

}

.colorBtn{
background-color: rgb(177, 67, 177);
}